<mat-grid-list cols="4" >
  <mat-grid-tile
      *ngFor="let character of characters">
      
      <mat-card>
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle>{{character.species}}</mat-card-subtitle>
        <mat-card-content>

          <a routerLink="/detail/{{ character.id }}">
            <div class="card">
              <div class="cardname">
                <p>{{ character.name }}</p>
              </div>
              <figure><img [src]="character.image" /></figure>
            </div>
          </a>
        </mat-card-content>
      </mat-card>
      
  </mat-grid-tile>
</mat-grid-list>